body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
}
#products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.product {
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
}